@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e3a8a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1e3a8a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.click-icon {
  @apply hover:cursor-pointer active:scale-90 transition-transform duration-150 ease-out;
}

.click-link {
  @apply hover:cursor-pointer hover:underline hover:text-blue-900 active:text-blue-900 active:scale-90 transition-transform duration-150 ease-out;
}
